.header {
  position: sticky;
  z-index: 100;
  box-shadow: var(--shadow-sm);
  background-color: var(--color-surface);
  border-bottom: 1px solid var(--border-color-soft);
  padding-block: var(--space-3);
}

.row {
  @include flex-between;
}
