.title {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #333;
}

.checkoutContainer {
  display: grid;
  gap: 2rem;
  grid-template-columns: 2fr 1fr;
  margin-top: 2rem;
}

.items {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
  background: #fff;
}

.sectionTitle {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  color: #333;
}